@import './../../../styles';

@keyframes closeEyes {
  0% {
    bottom: 105%;
  }

  5% {
    bottom: 0;
  }

  10% {
    bottom: 105%;
  }

  100% {
    bottom: 105%;
  }
}

@keyframes smallEyes {
  0% {
    transform: scaleY(1.4) translateY(25%);
  }

  5% {
    transform: scaleY(1.3) translateY(25%);
  }

  10% {
    transform: scaleY(1.4) translateY(25%);
  }

  100% {
    transform: scaleY(1.4) translateY(25%);
  }
}

.container {
  .eyes {
    position: relative;
    display: flex;
    width: 350px;
    transform: scaleY(1.4) translateY(25%);
    height: 120px;
    filter: drop-shadow(5px 5px 5px rgba(black, .3));
    animation: smallEyes 6s ease-in-out 4s infinite;

    .eye {
      background: #ededed;
    }

    .eye,
    .eye-back-wrapper {
      position: absolute;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin-right: 20px;
      top: 0;



      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        right: 0;
      }

      &:nth-of-type(3) {
        left: 0;
      }

      &:nth-of-type(4) {
        right: 0;
      }

      .eye-item-bigger {
        position: absolute;
        top: 50%;
        left: 40px;
        width: 65%;
        height: 65%;
        background: #4486b4;
        border-radius: 50%;
        box-shadow: 3px 3px 3px rgba(black, .2);
        transform: translate(-50%, -50%);

      }

      .eye-item {
        box-shadow: 1px 1px 1px rgba(black, .1);
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 40%;
        background: #333;
        border-radius: 50%;
        z-index: 2;

      }

    }

    .eye-back-wrapper {
      z-index: 5;
      overflow: hidden;
      box-shadow:
        inset 3px -3px 3px rgba(white, .7),
        inset -10px 10px 10px rgba(white, .3);

      &:after {
        content: "";
        position: absolute;
        background: darken($pri-color-stronger, 20%);
        bottom: 105%;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 10px rgba($pri-color-stronger, .3),
          0 4px 5px rgba(black, .25);
        animation: closeEyes 6s ease-in-out 4s infinite;
      }
    }
  }
}
